@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
body{
    font-family: 'Prompt', sans-serif;
}.slide{
    height: 60px;
    align-items: center;
    border: solid black 1px;
    border-radius: 10px;
    color: #fff;
    background-color: rgb(64, 64, 132);
}